<form
  class="sign-in-form"
  novalidate
  #signInForm="ngForm"
  (ngSubmit)="onSubmit(signInForm)"
>
  <h2>Sign in</h2>
  <div class="row-control">
    <mat-form-field appearance="outline">
      <mat-label>Username</mat-label>
      <input
        matInput
        placeholder="Username"
        required
        minlength="6"
        maxlength="32"
        [pattern]="usernamePattern"
        ngModel
        name="username"
      />
      <mat-error
        *ngIf="
          signInForm.controls['username'].touched &&
          !signInForm.controls['username'].valid
        "
      >
        <span *ngIf="signInForm.controls['username'].errors?.['required']"
          >Username is required</span
        >
        <span
          *ngIf="signInForm.controls['username'].errors?.['minlength'] || signInForm.controls['username'].errors?.['maxlength']"
          >Length from 6 to 32 characters</span
        >
        <span
          *ngIf="!(signInForm.controls['username'].errors?.['minlength'] || signInForm.controls['username'].errors?.['maxlength']) && signInForm.controls['username'].errors?.['pattern']"
          >Only alphabet</span
        >
      </mat-error>
    </mat-form-field>
  </div>
  <pre>{{ signInForm.controls["username"].errors | json }}</pre>
  <div class="row-control">
    <mat-form-field appearance="outline">
      <mat-label>Password</mat-label>
      <input
        type="password"
        matInput
        placeholder="Password"
        ngModel
        name="password"
      />
    </mat-form-field>
  </div>
  <div class="row-control row-actions">
    <button
      mat-raised-button
      color="primary"
      type="submit"
      [disabled]="signInForm.invalid"
    >
      Sign in
    </button>
  </div>

  <pre>{{ signInForm.value | json }}</pre>
</form>
